/* navbar */
.logo {
  width: 150px;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  height: 70px;
}

.btn-primary {
  background-color: #ff2806;
  border-color: #ff2806;
}
.btn-primary:hover {
  background-color: #ff2806;
  border-color: #ff2806;
}
.btn-primary:active {
  background-color: #ff2806;
  border-color: #ff2806;
  opacity: 0.5;
}
.btn-outline-primary {
  border-color: #00ff00;
  color: #00ff00;
}
.btn-outline-primary:hover {
  border-color: #00ff00;
  background-color: #fff;
  color: #00ff00;
}

.btn-outline-primary:active {
  border-color: #00ff00;
  background-color: #fff;
  color: #00ff00;
  opacity: 0.5;
}

/* main */

.badge {
  background-color: #fbe50a !important;
  color: black !important;
}
